<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理系统后台管理系统-主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/css/backend_index.css" media="all"/>
</head>
<body>
<div class="layui-fluid">
    <div class="head">
        <div class="layui-row head-options">
            <div class="layui-col-xs10">
                <div class="layui-row layui-col-space5">
                    <div class="layui-col-md3 head-log">
                        <img src="/img/logo.jpg" alt="系统logo">
                    </div>
                    <div class="layui-col-md9">
                        <h1>图书管理系统后台管理系统</h1>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs2">
                <div class="head-user">
                    <span>
                        当前用户：超级管理员
                        <i class="layui-icon layui-icon-logout" style="font-size: 20px; color: red;"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="layui-row head-options-buttons">
            <div class="head-options-buttons-nav">
                <span>
                    <i class="layui-icon layui-icon-read" style="font-size: 20px;"></i>
                    管理员信息管理
                </span>
                <span>
                    <i class="layui-icon layui-icon-read" style="font-size: 20px;"></i>
                    会员信息管理
                </span>
                <span>
                    <i class="layui-icon layui-icon-read" style="font-size: 20px;"></i>
                    图书借阅记录
                </span>
                <span>
                    <i class="layui-icon layui-icon-read" style="font-size: 20px;"></i>
                    图书信息管理
                </span>
                <span>
                    <i class="layui-icon layui-icon-read" style="font-size: 20px;"></i>
                    图书借阅信息管理
                </span>
                <span>
                    <i class="layui-icon layui-icon-read" style="font-size: 20px;"></i>
                    支付功能
                </span>
            </div>
        </div>
        <div class="layui-row head-tabs">
            <div class="layui-tab" lay-filter="tabs" lay-allowClose="true">
                <ul class="layui-tab-title">
                    <li class="layui-this" lay-id="11">欢迎页</li>
                    <li lay-id="22">图书信息管理</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">欢迎评审图书管理系统后台管理系统</div>
                    <div class="layui-tab-item">图书信息管理</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
    </div>
</div>

<!-- Jquery Js -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- Layui Js -->
<script type="text/javascript" src="/layui/layui.js"></script>
<!-- 自定义的脚本 -->
<script>
    layui.use('element', function () {
        const $ = layui.jquery;
        const element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    });
</script>
</body>
</html>