.head {
    height: 190px;
    margin-top: 10px;
}

.head-options {
    height: 150px;
    background: linear-gradient(to bottom left, #65b9cb, #64baad);
}

.head-options .head-log {
    padding: 5px 0 0 5px;
}

.head-options img {
    width: 90%;
    height: 80px;
}

.head-options h1 {
    line-height: 80px;
    color: #FFFFFF;
}

.head-options .head-user {
    line-height: 80px;
    color: #FFFFFF;
    font-size: 20px;
}

.head-options-buttons {
    height: 60px;
    line-height: 60px;
    position: relative;
    top: -60px;
    font-size: 20px;
    color: #FFFFFF;
}

.head-options-buttons-nav {
    float: right;
}

.head-options-buttons-nav span {
    margin-right: 40px;
}

.head-options-buttons-nav span:hover {
    cursor: pointer;
}

.head-tabs {
    height: 40px;
    position: relative;
    top: -60px;
    background: #e5f4f1;
}

.content {
}

/* 覆盖layui选中选项卡的css */
.layui-this {
    color: #fff;
    background: red;
}