<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bm.book_manage_system.repository.BillRepository">

    <resultMap id="billRecord" type="com.bm.book_manage_system.domain.BillRecord" >
        <result column="id" property="id" />
        <result column="vip_id" property="vipId" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="old_balance" property="oldBalance" />
        <result column="new_balance" property="newBalance" />
        <result column="reason" property="reason"/>
        <result column="order_id" property="orderId" />
    </resultMap>

    <insert id="saveOrder" parameterType="com.bm.book_manage_system.domain.Order" >
        insert into bill_record (id, vip_id, create_time, `type`, amount, old_balance, new_balance, reason, order_id)
        values (#{order.orderId}, #{order.amount}, #{order.createTime}, #{order.dealTime}, #{order.status}, #{order.vipId})
    </insert>
</mapper>